@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@font-face {
    font-family: '3dumbregular';
    src: url('3Dumb-webfont.eot');
    src: url('3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('3Dumb-webfont.woff2') format('woff2'),
         url('3Dumb-webfont.woff') format('woff'),
         url('3Dumb-webfont.ttf') format('truetype'),
         url('3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
margin:0;
padding:0;
}

header{
font-family: 'Explora', cursive;
font-size: 300%;
}

nav{
  font-size: 200%;
  font-family: '3dumbregular';
}

section {

}

.box1 {
  width: 400px;
  height: 400px;
  background-color: lightblue;
}

.box2, .box3 {
  margin-top:20px;
  width: 100px;
  height: 100px;
  background-color: red;
}

.box2 {
  /*visibility:hidden;*/
  /*display: none;*/
  position: absolute;
  top: 50px;
  left: 50px;
  background-color:green;
}

footer{
  background-color: #660000;
  color: white;
  font-size: 200%;
  padding: 3%;
  font-family:'Roboto Slab', serif;


}
