

body {
  background-color: #00ffcc;
  background-image:url(phos.jpg);
  background-repeat: no-repeat;
  background-size: 130%;
  background-attachment: fixed;
  color: rgb(0, 255, 204);
}
/* oohh comments! ok so .box and .span attrebutes setup*/

div.box{
width: 400px;
height: 400px;
background-color: rgba(0, 255, 204,.5);
border: 2px solid rgb(0, 255, 180);
}

div.phosBreaks{
  width: 40%;
  height: 50%;
  background-color: rgba(0, 255, 204,.5);
  border: 2px solid rgb(0, 255, 180);
  padding: 1% 5%;
  margin-top: 10%;
}

div.phosBreaks video {
  display: inline-block;
  background-color:rgba(0, 255, 204,.5);
  width: 90%;
  padding: 0;
  margin: auto;
}

div.space{
  height:1000px;
}
source{
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
