
//overridinng color variables
$primary: #347B98;
$secondary: #67AFCB;
$light: #E0F3FB;
$dark: #092834;

$info: #00ffff;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 2rem,
  6: 1rem
);
//Importing bootstrap
@import '../node_modules/bootstrap/scss/bootstrap'
