
//overridinng color variables
$primary: #cc00cc;
$secondary: #ffff00;
$light: white;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: .7rem
);
//Importing bootstrap
@import '../node_modules/bootstrap/scss/bootstrap'
