body{
  margin:0;
  padding:0;
  background-color: #ddd;
}
#wrap{
  width: 70%;
  margin: 0 auto;
  }
.bUtToN{
  color: red;
  font-size: 130%;
}
textarea{
  width: 50%;
  height: 100px;
  }
fieldset{
  background-color: #ddd;
  border-radius: 1em;
  }
legend{
  font-size: 150%;
  font-family: Georgia, serif;
  background-color: white;
  padding: 5px 10px;
  }
form{
  background
}
header, nav, section, footer{
  padding: 30px;
  background-color: #fff;
  margin: 10px, 0px;
}

header{

}

nav{

}
section {

}


footer{

}
